.form-group{
    position: relative;
    font-family: Indie Flower;
    font-weight: bold;
    color: rgb(255, 255, 255) ;
    left: 550px;
    top: 200px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    opacity: 0.7;
    vertical-align: bottom;
    z-index: 1;
}
#email{
    position: relative;
    left: 57px;
    
    vertical-align: middle;
    font-size: 20px;
    background-color: rgb(225, 163, 220);
    border-radius: 10px;
    opacity: 0.5;
    border-color: rgb(225, 163, 220) ;

}

#email:hover{
    opacity: 2;
}
#password:hover{
    opacity: 2;
}
#password{
    vertical-align: middle;
    position: relative;
    left: 18px;
    font-size: 20px;
    background-color: rgb(225, 163, 220);
    border-radius: 10px;
    opacity: 0.5;
    border-color: rgb(225, 163, 220) ;
}
#Login-header{
    position: relative;
    font-family: Indie Flower;
    
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    
    opacity: 1;
    color:rgb(253, 251, 253) ;
    z-index: 1;
    

}
#submit-button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 2;
}
#submit-button{
    position: absolute;
    font-family: Indie Flower;
    left:620px;
    top:500px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
    background-color: rgb(204, 153, 204);
    border-radius: 10px; 
    opacity: 0.7;  
    cursor: pointer; 
    color: white;
}
#background-image{
    background-image: url("sjdalfjldaskjfl3434.webp");
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: top;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    filter: blur(10px); 
}
#container{
    height: 500px;
    width: 500px;
    background-color: rgb(223, 184, 219);
    opacity: 0.5;
    position: absolute;
    left: 500px;
    top: 100px;
    border-radius: 50px;
    font-size: small;
    text-align: center;
    font-family: Indie Flower;
    color: white;
    opacity: 3;
}